<h1> <%= @song.title %> &nbsp; by <%= @song.interpret %></h1>
<pre><%= @song.text %></pre>
<%= link_to 'Edit', edit_song_path(@song), data: { keybinding: 'ctrl+enter' }, :class => "nav" %>
<%= link_to 'Back', songs_path, data: { keybinding: 'backspace' }, :class => "nav" %>
